#navbar{
    width: 100%;
    height: 50px;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    

    /* overflow: hidden; */
  background-color: rgb(2, 2, 28)5, 5, 42;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  bottom: 100px;
  width: 100%; /* Full width */
}

#target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
  }
  .word {
    position: absolute;
  }
  @keyframes color {
    0% {color: blue;}
    50% {color: #ec006e;}
    100% {color: blue;}
  }
  .letter {
    transform: translateZ(200px);
  }
  @keyframes anim {
    25% {
      transform: translateZ(0px);
      opacity: 1;
    }
    32% {
      opacity: 0;
      transform: translateZ(-280px) translateX(200px);
    }
  }
  
  




body{
    background-image: url("https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg");
    font-family: "Poppins", sans-serif;
  background-size: 100%,100%;
  
}
#navbar>div{
    width: 90%;
    
    color: white;
   
    font-weight: bold;
    align-items: center;
}
.nav-contents{
    display: flex;
    justify-content: space-around;
   
box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    letter-spacing:normal;
   
}
.nav-contents a:hover{

color: crimson;
text-transform: capitalize;
border : 1px crimson solid;
box-sizing: border-box;
border-radius:10px
}
#RESUME{
  margin-top: 50px;
 width: 130px;
 border: none;
 letter-spacing: 1.8px;
 /* margin-bottom: 50px; */
 cursor: pointer;
 font-weight: bold;
 border-radius: 10px;
 color: white;
 background-color: crimson;
 height: 40px; 
}
#about{
    width: 90%;
    height: 300px;
    justify-content: space-between;
    display: flex;
    margin: auto;
    font-size: 19px;
    margin-top: 100px;
   
    color: white;
   
}
#about>div{
text-align: center;
line-height: 0.8;
color: white;
margin-top: 100px;
    width: 50%;
  
    height: 90%;
  
}
.aboutme{
    text-align: center;
    color: wheat;
    margin-bottom: 60px;
    margin-top: 150px;
    background-color: black;
   
}
.tech-support{
    color: white; 
    font-family: "Arial";
    font-size: 30px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
   
   /* added animation property to show the character one at a time*/

}
#about{
    margin-top: 200px;
    width: 90%;
    margin: auto;
   
    height: 200px;
}
.typing h1{
  overflow: hidden;
  border-right: .15em solid crimson;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15 em;
  animation: typing 3.5s steps(40,end),
  blink-caret .75s step-end infinite

}
@keyframes typing {
  from {width: 0;}
  to{width: 100%;}
  
}
@keyframes blink-caret {
from,to {border-color : transparent}
50% {
  border-color:crimson;
}  
}

#skills{
    display: grid;
    margin: auto;
    width: 90%;
    justify-content: space-around;
    gap:50px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
#skills>div{

  
    height: 130px;
    margin: auto;
    width: 130px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}
#skills img{
    height: 100%;
    width: 100%;
}
#skills>div:hover{
transform: scale(1.1);
}

/* projects */

#projects{
    margin: auto;
    height: 600px;
    width: 90%;
   margin-top: -100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
   
}
a{
    text-decoration: none;
    color:white
}
#projects>div{
  
margin: auto;
    height: 200px;
    width: 70%;
    gap: 10px;
   

}
#projects>div+p{
font-weight: bold;
}

/* #projects>div:hover{

} */

#tech-stacks{
  margin: auto;
  width: 130px;
  height: 30px;

  margin-bottom: 10px;
  display: flex;

justify-content: space-around;}
#tech-stacks>img{
  height: 100%;
  width: 30%;
}

#projects>div img{
height: 100%;
width: 100%;
border-radius: 10px;

    }
    #projects>div p{
font-size: 10px;
font-weight: 100;
line-height: 15px;
letter-spacing: 1px;
color: white;
text-align: center;
    }

    #projects>div button{
background-color: crimson;
color: white;
cursor: pointer;
display: inline;
margin: auto;
border:none;
font-weight: bold;
border-radius: 10px;
width: 80px;
height: 20px;
margin-bottom: 90px;

    }
    #projects>div button:hover{
background-color: green;
    }
.btn
{
/* border: 1px solid; */
display: block;
padding: 0px 90px;
  margin: auto;
}


    #contact{

      height: auto;
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      border: 1px solid white;
      margin-top: 100px;
      border: 10px solid white;
      padding: 10px 10px;
      border-radius:20px ;
      gap: 10px;
    }
     #contact>div{

      height: 80px;
      width: 70%;
      /* border:  1px solid; */
      margin: auto;
      box-sizing: border-box;
      /* text-align: center; */
/* justify-content: center; */
      align-items: center
      ;

     }
      #contact>div>img{
        height: 70px;
        width: 70px;
        box-sizing: border-box;
      }


      @media screen {
        
      }